{% extends "layout.html" %}
{% block body %}
    <script>
    <!-- from w3school tutorial -->
    $(document).ready(function(){
     $('[data-toggle="tooltip"]').tooltip();
    });
    </script>

    <div class="container-md-fluid bg-primary text-center">
    <h1 data-toggle="tooltip" data-placement="bottom" title="Question: {{ qtext }}" style="text-align: center; padding-top: 2rem">
    {{ title }}</h1>
    </div>

    <div class = "chart">
        <h3 class="subtitle">Chart</h3>
        <img src="{{ chart }}" alt="Count Plot {{ title }}">
    </div>

{% endblock %}